{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset confirm' %}{% endblock %}

{% block content %}

{% if validlink %}

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3>{% trans 'Enter new password' %}</h3>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form class="form-horizontal" method="POST" role="form">
        {% csrf_token %}

        {% if form.errors %}
        <div class="row">
          <div class="col-lg-10">
            <div class="alert alert-danger">
              {% for fields in form %}
                {% for error in fields.errors %}
                  <p class="text-error">{{ fields.label_tag }} {{ error }}</p>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-lg-3 col-lg-offset-2">
            <div class="form-group">
              <label class="control-label" for="id_new_password1">{% trans "New password" %}</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              {{ form.new_password1 }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-lg-offset-2">
            <div class="form-group">
              <label class="control-label" for="id_new_password2">{% trans "Password confirmation" %}</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              {{ form.new_password2 }}
            </div>
          </div>
        </div>

        <div class="row">
          <hr>
          <div class="col-lg-6 col-lg-offset-6">
              <input class="btn btn-primary btn-block btn-lg" type="submit" value="{% trans "Change my password" %}" />
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3>{% trans 'Password reset unsuccessful' %}</h3>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    <p><a href="{% url 'password_reset' %}"  class="btn btn-default btn-md">{% trans 'Request new password' %}</a></p>
  </div>
</div>

{% endif %}

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$(function() {
  $('input[name*="password"]').addClass('form-control input-md');
})
</script>
{% endblock extrascripts %}
