{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Forgot Password" %}{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">
      <form method="POST" action="{% url 'django.contrib.auth.views.password_reset' %}">
        {% csrf_token %}

        <div class="row">
          <div class="col-lg-4">
            <h3>{% trans "Password reset" %}</h3>
          </div>
        </div>

        {% if form.errors %}
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-danger">
              <p class="text-error">{% trans "Email not found. Please verify entered email" %}</p>
            </div>
          </div>
        </div>
        {% endif %}

        <p>{% trans "Please enter your email address. You will receive a link to create a new password via email" %}</p>

        <div class="row">
          <div class="col-lg-2 col-lg-offset-2">
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
            </div>
          </div>
          <div class="col-lg-6 col-lg-offset-1">
            <div class="form-group">
              <input type="email" name="email" placeholder="Your e-mail"><br/>
            </div>
          </div>
        </div>

        <div class="row">
          <hr>
          <div class="col-lg-5 col-lg-offset-7">
            <input class="btn btn-primary btn-block btn-lg" type="submit" value="{% trans "Send reset link" %}" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$(function() {
  $('input[name="email"]').addClass('form-control input-md');
})
</script>
{% endblock extrascripts %}
