{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Custom User - Password change' %}{% endblock %}

{% block content %}
<div class="container">


  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">

      <div class="row">
        <h2>{% trans 'Password change' %}</h2>
        <div class="col-lg-11">
          <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        </div>
        <div class="col-lg-12"><hr></div>
      </div>

      <form action="" method="POST" role="form">
        {% csrf_token %}

        {% if form.errors %}
        <div class="row">
          <div class="col-lg-6">
            <div class="alert alert-error">
            {% for error in form.errors %}
              <p>{% trans "Error: " %} {{ error | escape }}</p>
            {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <div class="form-group">
              <label class="control-label" for="old_password">{% trans "Old Password" %}</label>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-group">
              {{ form.old_password }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <div class="form-group">
              <label class="control-label" for="new_password1">{% trans "New Password" %}</label>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-group">
              {{ form.new_password1 }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <div class="form-group">
              <label class="control-label" for="new_password2">{% trans "Password (again)" %}</label>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="form-group">
              {{ form.new_password2 }}
            </div>
          </div>
        </div>

        <div class="row">
          <hr>
          <div class="col-lg-4 col-lg-offset-8">
              <input class="btn btn-primary btn-block btn-lg" type="submit" value="{% trans "Change password" %}"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
$(function() {
  $('input[name*="password"]').addClass('form-control input-md');
})
</script>
{% endblock extrascripts %}
