{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "E-Commerce - Sign Up" %}
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">
      <form class="form-horizontal" method="POST" role="form">
        {% csrf_token %}

        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <h3>{% trans "Sign Up" %}</h3>
          </div>
        </div>

        {% if form.errors %}
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-danger">
              {% for fields in form %}
                {% for error in fields.errors %}
                  <p class="text-error">{{ fields.label_tag }} {{ error }}</p>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="row">
          <div class="col-lg-3 col-lg-offset-1">
            <div class="form-group">
              {{ field.label }}
            </div>
          </div>
          <div class="col-lg-6 col-lg-offset-1">
            <div class="form-group">
              {{ field }}
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="row">
          <div class="col-lg-5 col-lg-offset-1">
              <input class="btn btn-primary btn-block btn-lg" type="submit" value="{% trans "Sign Up" %}"/>
          </div>
          <div class="col-lg-5">
              <input class="btn btn-primary btn-block btn-lg" type="reset" value="{% trans "Clear Up" %}"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock content%}