{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {% trans "Custom User - Password Change Success" %}
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="row">
        <h2>{% trans 'Password change success' %}</h2>
        <div class="col-lg-10">
          <p>{% trans "You password was changed" %}</p>
          <p><a href="{% url 'account-settings' user.pk %}" class="btn btn-default btn-md">{% trans 'Go back to settins page' %}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}