/*** Structure ***/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #636369;
}

.wrapper {
  width: 100%;
  min-height: 500px;
  background-color: #FFF;
}

.content {
  width: 960px;
  min-height: 500px;
  margin: 0 auto;
}

/*** Header ***/

header {
  padding-top: 10px;
}

/*** Footer ***/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  padding: 10px;
  margin: 0 auto;
  color: #B1AF8D;
  background-color: #222222;
}

.footer {
  width: 960px;
  margin: 0 auto;
}

.trademark {
  float: right;
  font-size: 10px;
}
