{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<meta content="charset=utf-8" />
<title>{% block title %}E-Commerce{% endblock %}</title>
{% block style %}
<link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" />
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" />

{% block extrastylesheets %}{% endblock extrastylesheets %}
{% endblock style %}

<div class="wrapper">

  <div class="content">

    <header>
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Custom User</a>
          </div>

          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </header>

    <main>
    {% block content %}
      <h1>{% trans "Block to be replaced" %}</h1>
      <p>{% trans "This message will be replaced and it should never be displayed to final users" %}</p>
    {% endblock content %}
    </main>

  </div>

  <div class="footer">

    <footer>
      <div class="trademark">
        <p>Trademark 2014 &reg</p>
      </div>

      <div class="footer_content">

        <div class="column">
          <h5></h5>
          <ul>
          </ul>
        </div>

        <div class="column">
          <h5></h5>
            <ul>
            </ul>
        </div>

        <div class="column">
          <h5></h5>
            <ul>
            </ul>
        </div>

        <div class="column">
          <h5></h5>
          <ul>
          </ul>
        </div>
      </div>
    </footer>

  </div>

</div>

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% block extrascripts %}{% endblock extrascripts %}
{% endblock scripts %}
